@mixin pseudoElement() {
  content: '';
  position: absolute;
}

@mixin retinaTwoBgr($firstPath, $secondPath) {
  @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
    background-image: url($firstPath), url($secondPath);
  }
}

@mixin retinaOneBgr($path) {
  @media (min-resolution: $retinaDpi), (min-resolution: $retinaDppx) {
    background-image: url($path);
  }
}

@mixin modal() {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
