$mobileScreen: 320px;
$tabletScreen: 768px;
$desctopScreen: 1200px;
$mainFont: 'PT Sans', 'Arial', sans-serif;
$bluishActiveColor: #5496bd;
$inputColor: #f2f2f2;
$inputHoverColor: #e5e5e5;
$inputActiveColor: #d5d5d5;
$bluishColor: #81b3d2;
$bluishHoverColor: #669ec0;
