.footer {
  padding-top: 36px;
}

.footer__hashtag {
  margin-bottom: 36px;

  font-size: 21px;
  text-align: center;
}

.footer__list {
  margin-bottom: 42px;

  font-size: 0;
  text-align: center;
}

.footer__item {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;

  font-size: 14px;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}

.footer__link {
  display: block;
  height: 100%;

  background-color: $bluishColor;

  svg {
    fill-opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: $bluishHoverColor;
  }

  &:active {
    background-color: $bluishActiveColor;

    svg {
      fill-opacity: 0.3;
    }
  }

  &--tw {
    padding-top: 13px;
  }

  &--fb {
    padding-top: 14px;
  }

  &--yt {
    padding-top: 13px;
  }
}

.footer__info {
  margin-bottom: 23px;

  font-size: 0;
  text-align: center;

  border: 1px solid transparent;
}

.footer__developer {
  display: inline-block;
  width: 91px;

  font-weight: 400;
  font-size: 14px;
}

.footer__infoLink {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-top: -25px;

  vertical-align: middle;

  svg {
    fill: #000000;
    fill-opacity: 1;
  }

  &:hover svg,
  &:focus svg {
    fill: $bluishColor;
  }

  &:active svg {
    fill: #000000;
    fill-opacity: 0.3;
  }
}

@media (min-width: $tabletScreen) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin-left: -7px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .footer__hashtag {
    width: 158px;
    margin-top: 10px;
  }

  .footer__list {
    width: 151px;
  }

  .footer__info {
    width: 151px;
    padding-top: 7px;
    padding-left: 22px;
  }
}

@media (min-width: $desktopScreen) {
  .footer {
    padding-right: 120px;
    padding-left: 120px;
  }
}
