
.video {
  position: relative;
}

.video__clip {
  display: block;
  width: 100%;
  margin-bottom: 105px;
}

.video__panel {
  position: absolute;
  right: 20px;
  bottom: -66px;
  left: 20px;

  padding-top: 45px;

  background-color: rgba(0, 0, 0, 0.3);
}

.video__controls {
  height: 66px;

  background-color: #f2f2f2;
}

.video__line {
  position: absolute;
  top: 22px;
  right: 22px;
  left: 22px;

  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);
}

.video__currentLine {
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 3px;

  background-color: white;
}

.video__pin {
  position: absolute;
  top: -4px;
  left: -5px;
  z-index: 2;

  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-radius: 50%;
}

.video__play,
.video__fullScreen,
.video__subtitles,
.video__replay,
.video__pause {
  position: absolute;
  top: 68px;

  height: 20px;

  background-color: transparent;
  outline: none;

  svg {
    fill: #5c6870;
  }

  &:hover svg,
  &:focus svg {
    fill: #333333;
  }

  &:active svg {
    fill-opacity: 0.3;
  }
}

.video__play,
.video__replay,
.video__pause {
  left: 25px;

  width: 16px;
}

.video__subtitles {
  right: 74px;

  width: 32px;
}

.video__fullScreen {
  right: 23px;

  width: 20px;
}

@media (min-width: $tabletScreen) {
  .video {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .video__clip {
    margin-bottom: 0;
  }

  .video__panel {
    right: 60px;
    bottom: 40px;
    left: 60px;

    padding-top: 0;
  }

  .video__controls {
    height: 93px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .video__line {
    top: 45px;
    right: 166px;
    left: 93px;
  }

  .video__play,
  .video__replay,
  .video__pause,
  .video__fullScreen,
  .video__subtitles {
    top: 36px;

    svg {
      fill: #ffffff;
    }

    &:hover svg,
    &:focus svg {
      fill-opacity: 0.6;
    }

    &:active svg {
      fill-opacity: 0.3;
    }
  }

  .video__play,
  .video__replay,
  .video__pause {
    left: 35px;
  }

  .video__subtitles {
    right: 92px;
  }

  .video__fullScreen {
    right: 41px;
  }
}

@media (min-width: $desktopScreen) {
  .video {
    padding-right: 200px;
    padding-bottom: 85px;
    padding-left: 200px;
  }

  .video__panel {
    right: 200px;
    bottom: 85px;
    left: 200px;
  }
}
